body {
  padding: 0 5px;
  text-align: center;
  /* align-content: center; */
}

.section-container {
  display: grid;
}

.line2 {
  width: 700px;
  height: 8px;
}
.nav {
  height: 5px;
  width: 820px;
  align-items: center;
  padding-left: 19%;
}

.nav ul li {
  list-style: none;
  float: left;
  color: white;
  width: 30%;
  background: olive;
}
.nav ul li a {
  color: white;
}

.section-container {
  display: flex;
  grid-template-columns: auto auto auto;
  /* padding: 2% 10% 8% 10%; */
  float: left;
}
.footer {
  height: 10px;
  background-color: aqua;
}
.ftr-text {
  float: left;
}
.ftr-links {
  float: right;
}
